/* h1
Basic Sans Thin
font-family: "basic-sans", sans-serif;
font-weight: 100;
font-style: normal; 
*/

/* nav
Basic Sans SemiBold It
font-family: "basic-sans", sans-serif;
font-weight: 600;
font-style: italic; */

/* logo
Basic Sans Regular
color: var(--primary);
font-family: "basic-sans", sans-serif;
font-weight: 400;
font-style: normal; */





:root {
   --bgGrn: #14221a;
   --cardGrn:#253f30; 
   --hdBlk:  #101813;
   --primary: #a3a17d;
   --accentLight: #d8d1bc;
   --accentDark: #7f7c3d;
   --accentPlum: #65293d;
}

body{
    background-color: var(--bgGrn)
  
}

.nav{
    width: 100%;
    font-size: 1.25rem;
    background-color: var(--hdBlk);
    font-family: "basic-sans", sans-serif;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 25px;
   
}

.logo{
    color: var(--primary);
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:36px;
}

ul{
    list-style: none;
    margin-top: 15px;
    margin-right: 76px;
}
