/* h1
Basic Sans Thin
font-family: "basic-sans", sans-serif;
font-weight: 100;
font-style: normal; 
*/

/* nav
Basic Sans SemiBold It
font-family: "basic-sans", sans-serif;
font-weight: 600;
font-style: italic; */

/* logo
Basic Sans Regular
color: var(--primary);
font-family: "basic-sans", sans-serif;
font-weight: 400;
font-style: normal; */

   

input{
    background-color: var(--accentLight) !important;
    width: 15rem !important;
    margin-bottom: 1rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    
}   
button{
    margin: 0;
    
}   
.btn1{
    width: 6rem;
} 

.pic{
    
   
    height: 200px;
    max-width: 200px;
}

.bio h1{
   font-size: 1.5rem;
    color:var(--accentLight);
}



.username,
.email,
.invest-type{
    letter-spacing: .02em;
    font-size: 16px;
    color: var(--primary);
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}





@media (max-width: 760px){
    .picBtn{
        margin-bottom: 40px!important;
    }
    .btn.search{
        width: 4rem;
    }
    .form-control{
        width: 7rem !important;
    }
}


.watchlist{
    height: 440px;
    width: 100%;
    background-color: var(--cardGrn);
    border-radius: 7px;
    padding: 5px;
    
}
/* 
.price,
.percent_change{
    font-family: "basic-sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    height: 2rem;
    background-color: var(--accentLight);
    margin: 15px;
    border-radius: 7px;
    padding:5px;
}

.ticker{
    font-size:18px;
    height: 2rem;
    background-color: var(--primary);
    margin: 15px;
    border-radius: 7px; 
    padding:5px;
} */