.watchlist{
    height: 440px;
    /* height: auto; */
    width: 100%;
    background-color: var(--cardGrn);
    border-radius: 7px;
    
}

.price{
    font-family: "basic-sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    height: 2rem;
    background-color: var(--accentLight);
    margin: 15px;
    border-radius: 7px;
    padding:5px;
}
.percent_change_pos{
    font-family: "basic-sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    height: 2rem;
    background-color: var(--accentLight);
    margin: 15px;
    border-radius: 7px;
    padding:5px;
    color:green;
}
.percent_change_neg{
    font-family: "basic-sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    height: 2rem;
    background-color: var(--accentLight);
    margin: 15px;
    border-radius: 7px;
    padding:5px;
    color:red;
}
.ticker{
    font-size:18px;
    height: 2rem;
    background-color: var(--primary);
    margin: 15px;
    border-radius: 7px; 
    padding:5px;
}
