/* h1
Basic Sans Thin
font-family: "basic-sans", sans-serif;
font-weight: 100;
font-style: normal; */






:root {
   --bgGrn: #253f30;
   --hdBlk:  #142319;
   --primary: #a19f7a;
   --accentLight: #d8d1bc;
   --accentDark: #706f36;
   --accentPlum: #65293d;
}

